@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

body{
  font-family: 'Roboto';
  background-color: #e5e5e5;
}
.topo{
  background-color: #CF2B2B;
  width: 100%;
  height: 94px;
  color: #ffffff;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
}
.conteudo-topo{
margin-left: 21px;
}
.titulo{
  font-family:'Righteous';
  font-size: 44px;
  letter-spacing: -0.012em;
  
}
.subtitulo{
  font-size: 18px;
  line-height: 22px;
}
.container{
  margin-top:123px ;
  margin-left: 18px;
  margin-bottom: 108px;
}
.titulo-categoria{
  font-family:'Righteous';
  font-size: 26px;
  margin-bottom: 17px;
}

.caixa-de-opcoes{
  display: flex;
  overflow-x: scroll;
  margin-bottom: 27px;
}
.opcoes{
margin-right: 16px;
padding: 16px 14px 13px 14px;
background-color:#ffffff;
border-radius: 9px;
}
.opcoes img{
  width: 144px;
  border-radius: 4px;
  margin-bottom: 8px;
}
.descrição{
  width: 144px;
}
h2{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}
h3{
  font-weight: 300;
  font-size: 15px;
  color: #a6a6a6;
  line-height: 17px;
  margin-bottom: 5px;
}
.preço{
  font-size: 16px;
  font-weight: 400;
}
.barra-inferior{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color:#ffffff;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.barra-inferior p{
  background-color: #cbcbcb;
  width: 90vw;
  padding: 15px 25px 16px 25px;
  border-radius:50px ;
  text-align: center;
  color: #ffffff;

}

